######################################################################
# config variables 
######################################################################

#Provider variable

AzureSubscriptionID                     = ""
AzureClientID                           = ""
AzureClientSecret                       = ""
AzureTenantID                           = ""

SubsetupSTOAName                        = ""
SubsetupContainerName                   = ""
SubsetupKey                             = ""
SubsetupAccessKey                       = ""